<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
  <title>Principal</title>
  <link rel="stylesheet" href="../assets/css/style.css">

<body>
  <section class="main-container">
    <div class="cards-container">

      <div class="product-card">
        <img src="https://images.pexels.com/photos/14122557/pexels-photo-14122557.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Colors</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/14927354/pexels-photo-14927354.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Notebook</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img
          src="https://images.pexels.com/photos/745760/pexels-photo-745760.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Pen</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/4207707/pexels-photo-4207707.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>shet</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/14122557/pexels-photo-14122557.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Colors</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/14927354/pexels-photo-14927354.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Notebook</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img
          src="https://images.pexels.com/photos/745760/pexels-photo-745760.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Pen</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img src="https://images.pexels.com/photos/4207707/pexels-photo-4207707.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>shet</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>

      <div class="product-card">
        <img
          src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="">
        <div class="product-info">
          <div>
            <p>$120,00</p>
            <p>Bike</p>
          </div>
          <figure>
            <img src="../assets/icons/bt_add_to_cart.svg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
</body>

</html>